.recover {
    position: relative;
    width: 34.2rem;
    overflow: hidden;
    height: auto;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 4px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    background-color: #ffffff;
    font-family: inherit;
}

.recover .title2 {
    padding: 0 16px;
    font-size: 30px;
    justify-content: flex-start;
}

.recover .recover_message {
    padding: 12px 16px 30px 16px; 
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.choose_send_code{
    width: 60%;
}

.choose_send_code .edf {
    margin-bottom: 26px;
}

.recover_info_account {
    width: 40%;
}

.input_radio {
    display: flex;
    align-items: flex-start;
    gap: 10px;
}

.input_radio input {
    width: 20px;
    height: 20px;
    margin-top: 2px;
}

.input_radio label {
    font-size: 0.875rem;
}

.recover_info_account {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.recover_info_account img {
    border-radius: 50%;
    width: 70px;
    height: 70px;
    object-fit: cover;
}

.event_button_next {
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    z-index: 10;
}

@media only screen and (max-width: 768px) {
    .recover {
        height: 100vh;
        width: 100%;
        border-radius: 0;
        font-family: -apple-system, sans-serif;
    }

    .recover .recover_message {
        flex-direction: column;
        align-items: flex-start;
        gap: 50px;
    }

    .choose_send_code {
        width: 100%;
    }

    .choose_send_code .edf {
        font-size: 17px;
        font-weight: 600;
    }
    
    .recover_info_account {
        width: 100%;
    }

    .info_account_name {
        font-weight: 600;
        margin-top: 10px;
    }

    .recover .event_button_container{
        position: fixed;
        width: 100%;
        left: 0;
        bottom: 0;
    }

    .event_button_next {
        border-top: 2px solid #ccc;
    }
    .event_continue {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .input_radio input {
        margin-top: 0;
    }
    .input_radio label {
        font-size: 17px;
    }

    .recover_info_account img {
        border-radius: 50%;
        width: 120px;
        height: 120px;
        object-fit: cover;
    }
}

